@import "includes/link-colors";

[class*='transit-'],
[class*='transit-'][id],
[class*='transit-'] *,
[class*='transit-'][id] * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  vertical-align: baseline;
  width: auto;
  height: auto;
  background: none;
  border-radius: 0;
  text-align: left;
}

.transit-notify-list {
  background: transparent;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 2147483647;
  width: 250px;
  right: 15px;
  top: 35px;
  text-align: left;
  overflow: auto;
  max-height: calc(100% - 40px);

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  .transit-list-inner {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.transit-list-full {
  bottom: 5px;
}

.transit-spirit {
  position: absolute;
  width: 40px;
  background-color: transparent;
}

.transit-notify {
  z-index: 2147483647;
  max-width: 250px;
  min-width: 150px;
  line-height: 1.5;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  @import 'includes/_transit_result';
}

a.transit-notify-close {
  float: right;
  text-decoration: none;
  margin-right: 3px;
  font-size: .8em;
  @include link-colors(#aaa, #999, #999, #aaa);
}

// typo `translt` to ignore style reset.
.translt-link-inspect-mode a {
  text-decoration: none !important;
  pointer-events: none !important;
}


// 去除百度广告

body [cmatchid] {
  visibility: none !important;
  display: none!important;
  width: 0!important;
  height: 0!important;
}